<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>プロフィール画像</p>

<p>プロフィール画像登録はコチラ</p>

<p>プロフィール編集はコチラ</p>
<%= link_to '新しく投稿する', new_picture_path %>
<%= link_to '投稿一覧', pictures_path %>

